@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'Unbounded', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,ul,ol {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
}
.btn-line {
    margin-top: 25px;
}
.btn-line .btn + .btn {
    margin-left: 16px;
}
.btn-white {
    border-radius: 60px;
    background: #FFFFFF;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.btn-black {
    background: #000000;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    padding: 0 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 56px;
}
.btn-black:hover {
    background-color: #fff;
    color: #000;
}
.btn-clear {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    padding: 0 11px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #dedede;
    background-color: transparent;
    border-radius: 3px;
}
.btn-clear svg {
    margin-left: 7.5px;
}
/* GENERAL */
h1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
}
h1 small {
    display: block;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}
h2 {
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 11.5px;
}
.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;
}
.span2 {
    grid-column: span 2;
}

@media (max-width: 1024px){
    .grid3 {
        grid-template-columns: 1fr;
    }
    .span2 {
        grid-column: auto;
    }
}
/* PROMO STRIP */
.promo-strip {
    padding: 11px 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
}
/* HEADER */
body.sticky-header header {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    z-index: 99;
}

header .col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-nav {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-nav li {
    padding: 0 25px;
}
.main-nav li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    text-shadow: 0 0 10px rgba(0,0,0,0.2);
}
body:not(.sticky-header) .main-nav li a {
    color: #000;
}
nav.side ul {
    display: flex;
    align-items: center;
}
nav.side ul li {
    margin: 0 15px;
}
.mobile-burger {
    display: none;
}
nav.side ul li a {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    text-decoration: none;
}
body:not(.sticky-header) nav.side ul li a {
    color: #000;
}
body:not(.sticky-header) #logo {
    filter: brightness(-100%);
}
body:not(.sticky-header) header svg path {
    stroke: #000;
}
body:not(.sticky-header) header .header-search svg path {
    stroke: transparent;
    fill: #000;
}
body:not(.sticky-header) header {
    padding: 26px 0;
}

.header-cart {
    position: relative;
}
.header-cart span {
    position: absolute;
    bottom: -8px;
    left: -8px;
    border-radius: 100%;
    background-color: #000;
    color: #fff;
    font-size: 8px;
    display: inline-block;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* HERO */
.hero {
    position: relative;
    margin-bottom: 87.5px;
}
.video-backdrop {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 10px;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
}
.hero .container {
    z-index: 2;
}
.hero .hero-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.hero .hero-text h4 {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.hero .hero-text h1 {
    font-weight: 600;
    font-size: 60px;
    line-height: 62px;
    text-transform: capitalize;
    max-width: 697px;
    text-align: center;
    margin-bottom: 10px;
}
.hero .hero-text small {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}
.hero .hero-text h4 strong {
    font-weight: 600;
}
/* GRID */
.image-box {
    position: relative;
}
.image-box .text-overlay {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    padding: 0 0 46px 46px;
    color: #fff;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.image-box img {
    width: 100%;
}
.grid3 .image-box .text-overlay p {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    margin-top: 0;
}
.image-box .text-overlay h4 {
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    margin: 2px 0;
}
.image-box .btn-group {
    margin-top: 25px;
}
/* CAROUSEL */
.carousel-container {
    margin: 166px 0 99px;
}
.carousel-container h1 {
    text-align: center;
    margin-bottom: 95px;
}
.carousel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 27px;
}
.carousel-controls a {
    text-decoration: none;
    opacity: 0.3;
    transition: opacity 0.3s;
}
.carousel-controls a:hover {
    opacity: 1;
}
.carousel-controls a + a {
    margin-left: 12px;
}
.carousel-body .item {
    border: solid 1px #e0e0e0;
    padding: 12px 8px;
    border-radius: 2px;
}
.slick {
    display: flex;
}
.slick .item {
    position: relative;
}
.slick .item + .item {
    margin-left: 12px;
}
.product-options .col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-item .product-details {
    margin-top: 22px;
}
.product-item p a {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    text-decoration: none;
}
.product-item small {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #949494;
}
.product-item .product-price {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-item .product-price span {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}
.product-item {
    position: relative;
}
.product-item .product-fave {
    position: absolute;
    top: 11px;
    right: 11px;
    background: #F0F0F0;
    border-radius: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px;
}
.product-fave.on {
    background-color: #E2574C;
}
.product-fave.on svg path {
    stroke: #fff;
}
.gray {
    background-color: #EFEFEF;
    padding: 79px 0;
}
.gray .grid3 {
    margin-top: 103px;
}
.grid3 .item p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    margin-top: 16px;
}
.grid3 .item a {
    text-decoration: none;
}
/* YELLOW STRIP */
.yellow-strip {
    background-color: #EDE734;
    padding: 81.5px 0;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
}
.yellow-strip a {
    margin-left: 41px;
}

/* FOOTER */
footer {
    background-color: #000000;
}
footer.bottom {
    background-color: #131313;
    padding: 24px 0;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom ul {
    display: flex;
}
.footer-bottom ul li {
    padding: 0 14px;
}
.footer-bottom ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}
.footer-bottom ul li + li {
    border-left: solid 1px #fff;
}
.footer-bottom .copyright {
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 150%;
}
.footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 59px 0 107px;
}
.footer-top h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    color: #FFFFFF;
}
.footer-col ul li {
    padding-bottom: 8px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}
.footer-col ul li a {
    color: #fff;
    text-decoration: none;
}

/* PRODUCT GRID */
.product-grid {
    display: grid;
    grid-gap: 40px 12px;
    grid-template-columns: repeat( auto-fit, minmax(280px, 1fr) );
    margin-top: 132px;
    margin-bottom: 196px;
}
.product-item {
    border: solid 1px #e0e0e0;
    padding: 12px 8px;
    border-radius: 2px;
}

/* BREADCRUMBS */
.breadcrumbs {
    margin-top: 50px;
    margin-bottom: 63px;
}
.breadcrumbs ul li {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}
.breadcrumbs ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.breadcrumbs ul li,
.breadcrumbs ul li a {
    color: #000;
    text-decoration: none;
}
.breadcrumbs ul li a:after {
    content: "/";
    display: inline-block;
    margin-right: 17px;
}

/* TEXT BLOCK */
.text-block h1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    text-transform: capitalize; 
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 32px;
}
.text-block h1 small {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #B8B8B8;
    display: inline-block;
    margin-left: 25px;
}
.text-block p {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

.tags {
    margin-top: 30px;
    display: flex;
}
.tags span {
    background: #EEEEEE;
    border-radius: 6px;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    padding: 0 22px;
}
.tags span svg {
    margin-left: 7.5px;
    cursor: pointer;
}
.tags span + span {
    margin-left: 9px;
}
.product-controls {
    margin-top: 30px;
}
.product-controls .btn-clear {
    margin-left: 20px;
}
.product-related {
    margin-top: 80px;
}
.product-related .product-grid {
    margin-top: 40px;
}

/* PRODUCT VIEW */
.product-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 97px;
}
.product-details h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 14px;
}
.product-details .price {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
}
.ratings-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 18px;
}
.rating {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 14px;
} 
.rating + span {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #3A3A3A;
}
.divider {
    height: 1px;
    background-color: #B8B8B8;
    display: block;
    line-height: 1px;
    font-size: 1px;
    margin: 25px 0;
}
.product-details p {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}
.product-details h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.size-list {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat( auto-fit, minmax(90px, 1fr) );
    margin-bottom: 44px;
}
.size-list input {
    -webkit-appearance: none;
    height: 0;
    width: 0;
    display: none;
}
.size-list label {
    width: 100%;
    max-width: 105px;
    height: 46px;
    background-color: #eee;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #000;
    display: flex;
}
.size-list input:checked + label {
    background-color: #000;
    color: #fff;
}
.quantity-counter a {
    width: 35px;
    height: 35px;
    background-color: #eee;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.quantity-counter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.quantity-counter input {
    margin: 0 15px;
    width: 20px;
    border: none;
    text-align: center;
}
.quantity-counter input:focus {
    outline: none;
}
.quantity-counter a.plus {
    background-color: #000;
}
.product-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0 68px;
}
.product-button a.btn {
    width: 100%;
    margin-right: 24px;
}
.product-fave {
    min-width: 56px;
    min-height: 56px;
    background: #F0F0F0;
    border-radius: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.color-palette {
    margin: 0 -10px;
    display: grid;
    grid-gap: 10px;
    align-items: flex-start;
    justify-content: center;
    grid-template-columns: repeat( auto-fit, minmax(90px, 1fr) );   
}
.color-palette label {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    width: 100%;
}
.color-palette label span {
    display: block;
    margin-top: 5px;
}
.color-palette input {
    display: none;
}
/* ACCORDION */
.accordion {
    border: none;
    border-radius: 0;
    margin-top: 43px;
}
.accordion-item {
    border-radius: 0 !important;
    border: none;
    border-top: 1px solid #B8B8B8;
    padding: 24px 0;
}
.accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accordion-collapse {
    line-height: 0;
    position: relative;
    top: -10px;
    cursor: pointer;
}
.accordion-item .accordion-content {
    display: none;
}
.accordion-item.open .accordion-content {
    display: block;
}
.accordion-item.open .accordion-collapse {
    transform: rotate(180deg);
}
.accordion-content p + p {
    margin-top: 25px;
}
.accordion-content p,
.accordion-content ul {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}

/* GALLERY */
.inline-gallery-container {
    width: 100%;
    height: 0;
    padding-bottom: 65%;
}