/*
	Created by: Cyro Morais
	Version: 1.0

	Css rules only for this page only
*/

#createAcctSuccess fieldset {
	width: auto;
	min-width: 390px;
	background: #f2f2f2;
	padding: 18px 21px;
	color: #FFF;
	border: 1px solid #E9E9E9;
	margin-top: 21px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

	#createAcctSuccess address {
		display: block;
		color: #2e3233;
		font-size: 14px;
		line-height: 21px;
	}

	#createAcctSuccess .buttonRow {
		margin-top: 21px;
		text-align: right;
	}

		#createAcctSuccess .buttonRow a {
			display: inline-block;
			width: auto !important;
			padding: 9px 12px;
			text-transform: uppercase;
			font-size: .875em /* 14px/16px */;
			border: 0;
			background: #3b859e;
			color: #fff;
			margin: 0;
			font-weight: bold;
			text-decoration: none;
		}

		#createAcctSuccess .buttonRow a:hover {
			cursor: pointer;
			background: #174d5f;
			color: #FFF;
		}