/**
 * CSS Buttons Stylesheet
 *
 * Thanks to paulm for much of the content of the CSS buttons code
 *
 * @package templateSystem
 * @copyright Copyright 2003-2005 Zen Cart Development Team
 * @copyright Portions Copyright 2003 osCommerce
 * @license http://www.zen-cart.com/license/2_0.txt GNU Public License V2.0
 * @version $Id: stylesheet_css_buttons.css 2765 2006-01-01 21:15:45Z birdbrain $
 */

/* css buttons */
.cssButton, .cssButtonHover {
	background-color: #3b859e;
	border: none;
	border-radius: 3px;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: block;
	font-family: inherit;
	font-size: 14px;
	height: 35px;
	line-height: 20px;
	margin: 0;
	padding: 7px 20px !important;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: auto;
}

input.cssButton {
	padding-top: 6px !important;
}

	.cssButton:hover,
	.cssButtonHover,
	.cssButton:hover,
	.cssButtonHover:hover {
		background: #174d5f;
		color: #fff;
		text-decoration: none;
	}
