/* subscribe */
#unsubDefault .plainBox {
	display: none;
}

#unsubDefault form {
	font-size: 14px;
	padding: 21px 0;
}

	#unsubDefault input[type="text"] {
		border: 1px solid #8c8979;
	    height: 37px;
	    margin-right: 12px;
	    padding: 0 5px 1px;
	    width: 100%;
	    max-width: 222px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}

	#unsubDefault label input[type="text"]:focus {
		border-color: #2B2921
	}

	#unsubDefault form .cssButton,
	#unsubDefault form .cssButtonHover {
		background: #3b859e;
		color: #FFF;
		cursor: pointer;
		font-weight: bold;
		border: 0;
		padding: 9px 15px !important;
		text-transform: uppercase;
		font-size: 14px;
		width: auto !important;
		border: 1px solid #3b859e;
		margin: 0;
		position: relative;
		top: 1px;
	}
	
	#unsubDefault form .cssButton:focus,
	#unsubDefault form .cssButtonHover {
		background: #174d5f;
		color: #fff;
		cursor: pointer;
	}

	#unsubDefault .main {
		display: none;
	}

@media only screen and (max-width: 880px) {

	#unsubDefault input[type="text"] {
		display: block;
		margin: 0 0 12px 0;
		max-width: 100% !important;
		width: 100% !important
	}

	#unsubDefault input[type="radio"] {
		margin-left: 0
	}

	#unsubDefault form .cssButton,
	#unsubDefault form .cssButtonHover {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;

		margin-top: -10px;
		
		width: 100% !important
	}

}