/* Header */

/* Wrappers */
.order-history-wrapper {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border; padding: 0; background: none;}
.order-history-table {width: 100%; background: none; color: #FFF; font-size: 0.875em /* 14px/16px */; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border;}
.order-history-table th {text-align: left; padding: 15px 21px; border-bottom: 1px solid #444; background: #2e3233; color: #e2e3df; text-transform: uppercase; font-weight: bold;}
.order-history-table td {padding: 15px 21px; border-bottom: 1px solid #e2e3df; color: #2e3233; font-size: 14px;}
.order-history-table tr:last-child td {border-bottom: 1px solid #e2e3df;}
.order-history-table th.order-date, .order-history-table td.order-date {padding: 0 21px 0 15px;}
.order-history-table th.status, .order-history-table td.status {padding: 0 15px 0 21px;}

/* Table */
.order-date {width: 15.064102564103% /* 141px/936px */;}
.order-number {width: 21.153846153846% /* 198px/936px */;}
.shipping-to {width: 30.012820512821% /* 309px/936px */;}
.total {width: 16.141025641026% /* 123px/936px */;}
.status {text-align: right !important;}

.view-link  {
	color: #2e3233;
	text-decoration: none;
}

.view-link span {font-family: 'icomoon'; text-decoration: none; top: 0px; position: relative; font-size: 0.85714285714286em /* 12px/14px */; display: inline-block; margin: 0 3px 0 0;}

.view-link:hover {
	color: #3b859e;
}

/* View Filters and Pagination */
#middle-column-wrapper {position: relative;}
.navSplitPagesResult {line-height: 100% !important;}
.history-filters {text-align: center; font-size: 0.875em /* 14px/16px */; position: relative;}
.history-filters-top {margin: 0 0 30px;display: none;}
.history-filters-bottom {margin: 30px 0 0;}
.pagination, .view-buttons {position: absolute;}
.pagination {right: 0;}
.view-buttons {left: 0;}
.pagination li, .view-buttons li {float: left; padding: 0 3px; color: #2e3233; font-size: 13px;}
.pagination li {color: #3b859e;}
.prev-btn, .next-btn {font-family: 'icomoon'; font-size: 1em; color: #2e3233;}
.pagination li a {color: #2e3233; text-decoration: none;}
.view-buttons li a {display: inline-block; width: 27px; height: 27px; line-height: 27px; border: 1px solid #E9E9E9; text-align: center; text-decoration: none; color: #2e3233; position: relative; top: -8px; background: #f2f2f2;}
.view-buttons li a.active,
.view-buttons li a:hover {border: 1px solid #3b859e; color: #fff; background: #3b859e;}

@media only screen and (max-width: 980px) {
	.pagination, .view-buttons {position: static;}
	.view-buttons {float: left;}
	.pagination {float: right;}
	.history-filters-top {margin: 0 0 13px;}
	.history-filters-bottom {margin: 29px 0 0;}
	.order-history-table th {display: none;}
	.order-history-table td {width: 100% !important; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; text-align: left !important; padding: 6px 21px !important; border-bottom: 0 !important;}
	.order-history-table td.order-date {padding: 21px 21px 6px !important;}
	.order-history-table td.status {border-bottom: 1px dashed #666 !important; padding: 6px 21px 21px !important;}
	.order-history-wrapper {padding: 0 !important;}
}

@media only screen and (max-width: 875px) {
	.history-filters-top {margin: 30px 0 15px;}

	.navSplitPagesResult {
		clear: left;
		text-align: left;
		padding-top: 20px;
	}


}