/* Wrappers */
.col-left,
.col-right {
	color: #2e3233;
	width: 48.466257668712%;
	font-size: 14px;
	line-height: 22px
}

.col-left a,
.col-right a {
	color: #2e3233;
}

.col-left a:hover,
.col-right a:hover {
	color: #3b859e
}

/* Site Map Tree */
.site-map-tree {
	border-top: 1px solid #e2e3df;
	margin-top: 30px;
	
}

	.site-map-tree li {
		font-size: 14px;
		line-height: 26px;
		position: relative;
	}

	.site-map-tree ul > li {
		margin-top: 30px;
	}

	.site-map-tree ul > li li {
		margin-top: 0;
		padding-left: 15px
	}

		.site-map-tree li a {
			color: #2e3233;
			display: block;
			text-decoration: none;
		}

		.site-map-tree li a:hover {
			color: #3b859e 
		}

		.site-map-tree > ul > li > a {
			font-weight: bold;
			text-transform: uppercase;
		}

			.site-map-tree > li > ul a {
				font-weight: normal;
			}


				.site-map-tree ul ul {
					padding-top: 5px
				}

@media only screen and (max-width: 640px) {
	.col-left, .col-right {width: 100%; float: none !important;}
	.col-right {margin: 21px 0 0;}
	h1 {font-size: 1.3125em /* 21px/16px */ !important;}
}
