#pf-content {margin: 0 0 16px; font-size: 0.875em /* 14px/16px */; line-height: 180%; clear: both; position: relative; top: -5px;}
.required {font-size: 14px;padding-top: 10px;color: #E02828;}

.heading-wrapper + .messageStackError {
	position: relative;
	top: -4px
}

.messageStackError + #pf-content {
	margin-top: 25px
}

/* Labels & Inputs */
#middle-column-wrapper label {display: block; margin: 0 0 9px; color: #2e3233; font-size: 14px;}
#middle-column-wrapper input[type="text"] {margin: 0 0 21px; display: inline-block; border: 1px solid #ccc; padding: 6px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; width: 240px; height: 33px;}
#middle-column-wrapper input[type="submit"]{background: #3b859e; color: #FFF; border: 1px solid #3b859e; text-transform: uppercase; width: auto !important; padding: 8px 15px 8px 14px; margin:0; font-size:14px; font-weight:bold;}

@-moz-document url-prefix() {
	#pf-content {
		top: -7px;
		margin-bottom: 15px;
	}

	#middle-column-wrapper input[type="submit"] {
		padding: 7px 12px 7px 11px;
	}
}

#middle-column-wrapper input[type="submit"]:hover {cursor: pointer; background: #174d5f; color: #FFF;}

#middle-column-wrapper .alert {
	position: relative;
	top: 2px;
	color: #E02828;
	left: 3px;
}

@media only screen and (max-width: 978px) {
	#navBreadCrumb,
	#middle-column-wrapper {padding: 0 21px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
}

@media only screen and (max-width: 649px) {
	.heading-wrapper .back, .heading-wrapper .forward {float: none;}
	.required {margin: 0 0 30px;}
}