/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset */

html,
body { 
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	-webkit-text-size-adjust: none !important;
}

/* stick footer */
html,
body,
.jPanelMenu-panel {
	height: auto;
}

	/*.wrapper {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -227px;
	}*/

	/*#indexHomeBody .wrapper {
		margin-bottom: -301px;
	}*/

	/*.footer,
	.push {
		height: 227px;
	}*/

body {
	font-family: "Trebuchet MS",Helvetica,sans-serif !important;
	color: #333;
	font-size: 14px;
}

/* @forms
   define form patterns
*/

input[type="text"],
input[type="password"],
input[type="email"],
input[type="button"],
textarea,
select {
	color: #272522;
	font-family: inherit;
	font-size: 14px;
	border: 1px solid #aab5b9; /* 12px/14px */
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
	border: 1px solid #3b859e !important;
	box-shadow: 0 0 3px #3b859e;
}

::-webkit-input-placeholder {
   color: #272522;
}

:-moz-placeholder { /* Firefox 18- */
   color: #272522;
   opacity: 1;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #272522;
   opacity: 1;
}

:-ms-input-placeholder {  
   color: #272522;  
}

/* Floats */
.back {float: left;}
.forward {float: right;}

/* Fields */
.hiddenField {display: none;}
.visibleField {display: inline;}

/* Clears */
.clearBoth {clear: both;}
.clearLeft {clear: left;}
.clearRight {clear: right;}

/* Main Wrappers */
.centerColumn,
.wrapper--container,
.sub-page-wrapper {
	width: 100%;
	max-width: 978px;
	margin: 0 auto;
	position: relative;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/* header */

		.header--banner .wrapper--container {
			min-height: 10px
		}

	/* middle */
	.header--middle {
		border-bottom: 1px solid #515b5e;
		position: relative;
		z-index: 3;
	}	

		.header--middle .wrapper--container {
			height: 115px
		}

			/* logo */
			#logo {
				position: absolute;
				left: 0;
				top: 30px;
				text-indent: -9999px;
				width: auto
			}

				#logo a,
				#logo img {
					display: block;
				}

			/* Account Nav */
			#account-nav {
				left: 364px;
				position: absolute;
				top: 48px;
			}

				#account-nav li {
					float: left;
					margin-left: 15px;
					padding-left: 15px;
					width: auto;
				}

				#account-nav li:first-child {
					margin-left: 0;
					padding-left: 0;
				}
				
					#account-nav a,
					#account-nav span {
						display: block;
						font-size: 14px;
						height: 20px;
						line-height: 20px;
						padding: 0;
						text-align: center;
						text-decoration: none;

						-webkit-transition: all .25s;
						   -moz-transition: all .25s;
						    -ms-transition: all .25s;
						     -o-transition: all .25s;
						        transition: all .25s;
					}

					/* custom */
					#account-nav li:first-child a {
						padding-left: 0;
					}

			/* custom */
			#cart-icon {
				font-family: 'icomoon';
				font-size: 18px;
				margin: -1px 12px 0 0;
			}

	/* navigation */
	.header--navigation {
		border-top: 1px solid #2e3233;
		box-shadow: 0 0 3px #333;
		position: relative;
		z-index: 2;
	}

		.header--navigation .wrapper--container {
			height: 59px
		}

		/* Main Nav */
		#nav-menu {
			position: absolute;
			left: 0;
			top: 0;
		}

			#nav-menu > li {
				float: left;
				position: relative;
				width: auto;
			}

				#nav-menu > li > a {
					display: block;
					font-size: 14px; /* 17px/16px */
					text-decoration: none;
					position: relative;
				}
                                
                                #nav-menu > li > a:hover{
					display: block;
					font-size: 14px; /* 17px/16px */
					text-decoration: none;
					position: relative;
				}

				#nav-menu > li > a span {
					display: block;
					margin: 0 25px;
					height: 59px;
					line-height: 55px;
					text-transform: uppercase;
				}

				#nav-menu > li:first-child {
					border-left: none;
				}

				#nav-menu > li:first-child > a span {
					margin-left: 0;
				}

				#nav-menu > .last-child a span,
				#nav-menu > li:last-child a span {
					margin-right: 0
				}

				#nav-menu > li:first-child:hover > a {
					background: none
				}

				#nav-menu > li:first-child:hover > span {
					background-position: 28px 36px
				}

				#nav-menu > li:hover > a span,
				#nav-menu > li:focus > a span {
					cursor: pointer;
					/*border-bottom: 3px solid <?php echo TABLEAU_FTR_TXT_COLOR; ?>;*/
				}
					
					/* drop */
					#nav-menu > li ul {
						box-shadow: none !important;
						display: none;
						/*min-height: 315px;*/
						position: absolute;
						padding: 6px 0;
						left: 252px;
						top: -3px;
						overflow: visible !important;
						width: 252px;

						-webkit-box-sizing: border-box;
						   -moz-box-sizing: border-box;
						        box-sizing: border-box;
					}

					.sub--sub-menu {
						box-shadow: 0 !important;
						border-left: 1px solid #bbb;
					}

					#nav-menu > li .sub-menu {
						left: -15px;
						top: 59px;
					}
					
					/* arrow */
					#nav-menu > li .sub-menu:before {
						border-style: solid;
						border-width: 0 7px 8px;
						content: "";
						height: 0px;
						left: 42px;
						position: absolute;
						top: -11px;
						width: 0px;
					}

					#nav-menu ul { z-index: 2 }
					#nav-menu ul ul { z-index: 3; position: absolute; top: -3px; bottom: 0; }

						/* open dropdowns */
						#nav-menu > li:hover > span + ul,
						#nav-menu > li:hover > a + ul,
						#nav-menu ul > li.hasSub:hover > a + ul {
							display: block;
						}

							#nav-menu ul a {
								font-size: 14px;
								display: block;
								line-height: normal;
		    					padding: 5px 35px 6px 15px;
								text-decoration: none;
								position: relative;
							}

							#nav-menu ul .hasSub > a:after {
								border-style: solid;
								border-width: 5px 0 5px 8.7px;
								border-color: transparent transparent transparent #2e3233;
								content: "";
								height: 0;
								position: absolute;
								right: 21px;
								top: 8px;
								width: 0;
							}

		/* search */
		#search-wrapper {
			position: absolute;
			top: 131px;
			right: 0;
			width: 222px
		}

			#search-wrapper form {
				display: block !important;
				width: 100%
			}

				#search-wrapper input[type="text"],
				#search-wrapper input[type="submit"] {
					-webkit-box-sizing: border-box;
					   -moz-box-sizing: border-box;
					        box-sizing: border-box;
				}

				#search-wrapper input[type="text"],
				#search-wrapper input[type="text"]:focus {
					border: 1px solid transparent !important;
					border-radius: 13px;
					height: 30px;
					padding: 5px 38px 5px 10px ;
					margin-right: 15px;
					width: 100% !important
				}

				#search-wrapper button[type="submit"],
				#search-wrapper input[type="submit"] {
					border: none;
					box-shadow: none;
					cursor: pointer;
					height: 30px;
					position: absolute;
					right: 0;
					text-indent: -9999px;
					top: 0;
					width: 32px !important;
				}

				#search-wrapper input[type="submit"]:hover,
				#search-wrapper input[type="submit"]:focus,
				#search-wrapper button[type="submit"]:hover,
				#search-wrapper button[type="submit"]:focus {
					background-position: 0 -30px
				}

#contentMainWrapper {
	overflow: hidden;
	padding: 0 0 60px;
	position: relative;
	z-index: 1;
}

#middle-column-wrapper {
	float: none;
}

#contentMainWrapper .sub-page-wrapper {
        padding-top: 21px;
}

/* Breadcrumb */
#navBreadCrumb {
	color: #2e3233;
	font-size: 14px;
	padding-bottom: 21px;
	margin: 0;
	max-width: 978px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 21px
}

	.sub-page-wrapper #navBreadCrumb {
		margin-bottom: 18px;
		padding-top: 0;
	}

#productinfoBody #navBreadCrumb {
	border-bottom: none;
	margin-bottom: 0;
}

	#navBreadCrumb a {
		color: #3b859e;
		text-decoration: underline;
	}

	#navBreadCrumb a:hover {
		color: #174d5f
	}

	#navBreadCrumb .separator {
		color: #515b5e
	}

/* Header Titles */
h1 {
	font-size: 1.875em /* 30px/16px */;
	margin: 0 0 30px
}

.sub-page-wrapper h1,
.product-listing h1 {
	color: #3b859e;
	font: bold 30px "Asap", Helvetica, sans-serif;
	margin-bottom: 15px;
	padding-bottom: 14px;
	text-transform: uppercase;
}

.product-listing h1 {
	font-size: 20px;
	margin-bottom: 18px;
}

/* Banners */
#bannerFive,
#bannerSix {
	text-align: center; margin: 30px 0 0;}

/* social icons */
.social-links {
	background: #caf200;
	border-radius: 10px 0 0 10px;
	box-shadow: -2px 0 3px #717171;
	padding: 12px;
	position: fixed;
	top: 280px;
	right: 0;
	width: auto;
	z-index: 1010;
}
	
	.social-links li {
		margin-top: 12px;
	}

	.social-links li:first-child {
		margin-top: 0;
	}

		.social-links a {
			display: block;
			height: 18px;
			width: 18px;
			text-indent: -9999px;
		}

		.social-links .is-facebook a {
			background-position: 0 0
		}

		.social-links .is-facebook a:hover {
			background-position: -22px 0
		}

		.social-links .is-twitter a {
			background-position: 0 -30px;
			height: 14px
		}

		.social-links .is-twitter a:hover {
			background-position: -22px -30px
		}

		.social-links .is-gplus a {
			background-position: 0 -56px;
			height: 15px
		}

		.social-links .is-gplus a:hover {
			background-position: -22px -56px
		}

		.social-links .is-youtube a {
			background-position: 0 -83px;
			height: 14px
		}

		.social-links .is-youtube a:hover {
			background-position: -22px -83px
		}

		.social-links .is-rss a {
			background-position: 0 -109px;
			height: 13px
		}

		.social-links .is-rss a:hover {
			background-position: -22px -109px
		}

/* Footer */
	
	/* message */
	.footer--message {
		box-shadow: 0 0 5px #333;
	}

		.footer--message .wrapper--container {
			padding: 6px 0;
		}

			.footer--message span {
				display: block;
				color: #2e3233;
				font: 18px Asap, Arial, sans-serif;
				text-align: center;
				text-transform: uppercase;
			}

				.footer--message span strong {
					font-weight: bold;
				}

	/* navigation + newsletter */
	.footer--navigation {
		border-bottom: 1px solid #515b5e;
	}

		.footer--navigation .wrapper--container {
			padding: 30px 0;
			overflow: hidden;
		}
			
			/* newsletter */
			#newsletter-wrapper {
				position: absolute;
    			right: 0;
				width: 25%;
			}
				
				#newsletter-wrapper form {
					padding-bottom: 10px;
					position: relative
				}

					#newsletter-wrapper input[type="text"],
					#newsletter-wrapper input[type="text"]:focus {
					    background: #E2E3DF;
					    border: 1px solid #CAF200 !important;
					    border-radius: 13px 13px 13px 13px;
					    height: 28px;
					    padding: 5px 38px 5px 10px;
					    width: 100%;

						-webkit-box-sizing: border-box;
						   -moz-box-sizing: border-box;
						        box-sizing: border-box;
					}



					#newsletter-wrapper button[type="submit"] {
					    border: medium none;
					    cursor: pointer;
					    height: 28px;
					    position: absolute;
					    right: 0;
					    text-indent: -9999px;
					    top: 0;
					    width: 32px;
					}

					#newsletter-wrapper button[type="submit"]:hover,
					#newsletter-wrapper button[type="submit"]:focus {
						background-position: 2px -28px
					}

					#newsletter-wrapper p {
						margin-bottom: 10px
					}

					#newsletter-wrapper a {
						font-size: 14px
					}

					#newsletter-wrapper a:hover {
						color: #caf200
					}

				.footer-content-container {
					color: #fff;
					font-size: 12px;
					line-height: 20px
				}

				.footer-content-container a {
					color: #fff;
					text-decoration: none
				}
			
			/* links */
			.list-footer {
				box-sizing: border-box;
				float: left;
				padding: 0 30px 0 0;
				width: 25%;
			}

			.li--social {
				float: right;
				margin-right: 0;
			}

				.list-footer h5,
				.footer-content-container h5 {
					font: bold 14px Asap, Arial, sans-serif;
					margin: -1px 0 18px;
					line-height: normal;
					text-transform: uppercase;
				}
				
				.list-footer li {
					margin-top: 10px;
				}

				.list-footer li:first-child {
					margin-top: 0;
				}

					.list-footer a {
						display: block;
						font-size: 14px;
						text-decoration: none;

						-webkit-transition: all .25s;
						   -moz-transition: all .25s;
						    -ms-transition: all .25s;
						     -o-transition: all .25s;
						        transition: all .25s;
					}

/* copyright-flags */
.footer--copyright-flags {
	border-top: 1px solid #2e3233;
	padding: 21px 0;
}

	.footer--copyright-flags .wrapper--container {
		overflow: hidden;
	}
	
	#copyright-wrapper {
		float: left;
		margin-top: 11px;
	}

		#copyright-wrapper p,
		#copyright-wrapper p a {
			font-size: 14px;
			line-height: 21px;
			text-decoration: none;
		}
		
		#copyright-wrapper p {
			margin-top: 12px;
		}

		#copyright-wrapper p span:first-child {
			padding-right: 28px
		}

			#copyright-wrapper p a {

				-webkit-transition: all .25s;
				   -moz-transition: all .25s;
				    -ms-transition: all .25s;
				     -o-transition: all .25s;
				        transition: all .25s;
			}

			#copyright-wrapper p a:hover {
				color: #caf200;
			}

	.footer--copyright-flags .flags {
		float: right;
	}

		.footer--copyright-flags .flags span,
		.footer--copyright-flags .flags a {
			float: left;
			height: 69px;
			margin-left: 20px;
			text-indent: -9999px;
		}

		.footer--copyright-flags .flags a:hover {
			/*opacity: .8*/
		}

		.flags--payment,
		.flags--authorized-ceritfied {
			background: url(../images/flags_payment.png) no-repeat 0 0;
			width: 89px;
		}

		.flags--authorized-ceritfied {
			background-position: 0 0;
		}

		.flags--federal-comunications {
			background: url(../images/badget__federal_comunications.png) no-repeat 0 0;
			width: 69px
		}

		.flags--security {
			background: url(../images/badget_geotrust.png) no-repeat 0 0;
			width: 128px
		}

.sub-pages-content {
	background: #fff;
	padding: 42px 30px;
	width: auto;
}

.content,
#ezPageDefault,
.content p,
#ezPageDefault p,
#maintenanceDefault p,
#unsubDefault p, 
.content li,
#ezPageDefault li {
    color: #2E3248;
    font-size: 14px;
    line-height: 22px
}

.content li,
#ezPageDefault li {
	background: none;
	padding-left: 15px;
	position: relative;
}

.content li:before,
#ezPageDefault li:before {
	content: "";
	background: #2e3233;
	border-radius: 3px;
	height: 4px;
	width: 4px;
	position: absolute;
	left: 0;
	top: 9px
}

.content p,
#ezPageDefault p,
#maintenanceDefault p,
#unsubDefault p,
.content ul,
#ezPageDefault ul,
#maintenanceDefault ul,
#unsubDefault ul {
	margin-bottom: 0 !important;
	margin-top: 10px !important;
}

.content,
.content h1 + p,
#maintenanceDefault h1 + p,
#ezPageDefault h1 + div {
	margin-top: -2px;
}

#maintenanceDefault p br {
	display: none;
}

.content table,
#ezPageDefault table {
	border-top: 1px solid #c2bfb1;
	margin-top: 15px;
	width: 100%;
	margin-bottom: 15px;
}
	
	.content table th,
	.content table td,
	#ezPageDefault table th,
	#ezPageDefault table td {
		padding: 10px;
		text-align: center;
	}

	.content table th,
	#ezPageDefault table th {
		border: none;
		background: #2e3233;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 600
	}
	

	#ezPageDefault table td {
		vertical-align: top;
		text-align: center;
	}

	#ezPageDefault .my-topo-table h3 {
		margin-top: 0;
	}

	#ezPageDefault .my-topo-table tr td:first-child {
		text-align: center;
		width: 25%
	}

.content a,
#unsubDefault a,
#ezPageDefault a,
#maintenanceDefault a {
	color: #3b859e;
	font-size: 14px;
	text-decoration: underline;
}

.content a:hover,
#unsubDefault a:hover,
#ezPageDefault a:hover,
#maintenanceDefault a:hover {
	color: #174d5f
}

	.content ul ul,
	#ezPageDefault ul ul {
		padding-top: 10px
	}

.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
#ezPageDefault h2,
#ezPageDefault h3,
#ezPageDefault h4,
#ezPageDefault h5,
#ezPageDefault h6 {
	color: #2e3233;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 22px;
}

.content h3,
#ezPageDefault h3 {
	font-size: 20px
}

.content h4,
#ezPageDefault h4 {
	font-size: 18px
}

.content h5,
#ezPageDefault h5 {
	font-size: 16px
}

.content h6,
#ezPageDefault h6 {
	font-size: 16px
}

	#ezPageDefault h2 + table,
	#ezPageDefault h3 + table,
	#ezPageDefault h4 + table,
	#ezPageDefault h5 + table,
	#ezPageDefault h6 + table {
		margin-top: 18px
	}

.content h2:first-child,
.content h3:first-child,
.content p:first-child,
.content ul:first-child,
#ezPageDefault h2:first-child,
#ezPageDefault h3:first-child,
#ezPageDefault p:first-child,
#ezPageDefault ul:first-child,
.content address:first-child {
	margin-top: 0 !important
}

.content address,
#maintenanceDefault form,
#unsubDefault form,
.discount-wrapper form,
.table-faq-contents,
#passwordForgotten form,
#timeoutDefaultContent + form {
	background: none;
    /*border-radius: 8px 8px 8px 8px;*/
	display: block;
	margin-top: 0;
	padding: 0;
}

.table-faq-contents {
	margin-top: 0
}

.content address {
	display: block;
	padding: 17px 21px;
}

.content-highlighted {
	font-weight: bold;
	color: #F60A20
}

.discount-wrapper form,
#timeoutDefaultContent + form {
	padding: 0;
}

.content hr {
	border: 1px solid #B7BCAF;
	display: block;
	height: 1px;
	margin: 21px 0;
}

.content-image {
	margin-bottom: 2px;
	margin-top: 15px
}

	.content-image img {
		display: block;
		margin: 0 auto;
		height: auto;
		width: auto;
		max-width: 100%
	}

#timeoutDefaultContent + form {
	display: block;
	margin-top: 21px;
}

	#timeoutDefaultContent + form legend {
		color: #2e3233;
		display: block;
	    font-size: 22px;
	    margin-bottom: 21px;
	    font-weight: bold;
	    margin-top: 22px;
	}
	
	#timeoutDefaultContent + form label {
		color: #2e3233;
		font-weight: normal;
		display: block;
		margin-bottom: 9px;
		font-size: 14px;
	}

	#timeoutDefaultContent + form input {
		height: 33px;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		        margin-bottom: 21px;
		        margin-left: 0;
	}

	#timeoutDefaultContent + form input[type="submit"] {
		width: auto !important;
		padding: 9px 15px;
		text-transform: uppercase;
		font-size: .875em /* 14px/16px */;
		border: 0;
		background: #3b859e;
		color: #fff;
		margin: 0;
		height: auto;
	}

	#timeoutDefaultContent + form input[type="submit"]:hover {
		cursor: pointer; background: #174d5f; color: #FFF;
	}

	#timeoutDefaultContent + form .forward {
		float: left;
	}

	#timeoutDefaultContent + form .back {
		font-size: 14px;
		margin-left: 21px;
		height: 35px;
		line-height: 36px;
	}

		#timeoutDefaultContent + form .back a {
			color: #2e3233;
			text-decoration: none
		}

		#timeoutDefaultContent + form .back a:hover {
			text-decoration: underline;
		}

/* */
#navEZPageNextPrev,
#navEZPagesTOCWrapper {
	display: none;
}

@media only screen and (max-width: 640px) {
	.social-links {
		display: none;
	}
}

/* banner topo */

.header--banner a {
	text-decoration: none;
	padding: 8px 0 7px;
	display: block;
	font-family: Asap, Helvetica, sans-serif;
	font-size: 18px;
}

	.banner-topo-first,
	.banner-topo-second {
		color: #2e3233;
		text-decoration: none;
		display: inline-block;
		position: relative;

	}

		.banner-topo-first strong,
		.banner-topo-second strong {
			font-weight: bold;
			text-transform: uppercase;
		}

	.banner-topo-first {

	}

	.banner-topo-second {
		padding-left: 34px;
		margin-left: 20px;
	}

		.banner-topo-second .ico {
			position: absolute;
			left: 0;
			top: 0
		}

	.banner-fake-button {
		float: right;
		font-size: 14px;
		color: #2e3233;
		text-decoration: underline;
		padding-top: 1px;
	}

	.banner-fake-button:hover {
		color: #174d5f
	}

/* cleaning */
#unsubDefault h1 + br {
	display: none;
}


@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'Unbounded', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,ul,ol {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
}
.btn-line {
    margin-top: 25px;
}
.btn-line .btn + .btn {
    margin-left: 16px;
}
.btn-white {
    border-radius: 60px;
    background: #FFFFFF;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.btn-black {
    background: #000000;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    padding: 0 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 56px;
}
.btn-black:hover {
    background-color: #fff;
    color: #000;
}
.btn-clear {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    padding: 0 11px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #dedede;
    background-color: transparent;
    border-radius: 3px;
}
.btn-clear svg {
    margin-left: 7.5px;
}
/* GENERAL */
h1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
}
h1 small {
    display: block;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}
h2 {
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 11.5px;
}
.grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;
}
.span2 {
    grid-column: span 2;
}

@media (max-width: 1024px){
    .grid3 {
        grid-template-columns: 1fr;
    }
    .span2 {
        grid-column: auto;
    }
}
/* PROMO STRIP */
.promo-strip {
    padding: 11px 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
}
/* HEADER */
body.sticky-header header {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    z-index: 99;
}

header .col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-nav {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-nav li {
    padding: 0 25px;
}
.main-nav li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    text-shadow: 0 0 10px rgba(0,0,0,0.2);
}
body:not(.sticky-header) .main-nav li a {
    color: #000;
}
nav.side ul {
    display: flex;
    align-items: center;
}
nav.side ul li {
    margin: 0 15px;
}
.mobile-burger {
    display: none;
}
nav.side ul li a {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    text-decoration: none;
}
body:not(.sticky-header) nav.side ul li a {
    color: #000;
}
body:not(.sticky-header) #logo {
    filter: brightness(-100%);
}
body:not(.sticky-header) header svg path {
    stroke: #000;
}
body:not(.sticky-header) header .header-search svg path {
    stroke: transparent;
    fill: #000;
}
body:not(.sticky-header) header {
    padding: 26px 0;
}

.header-cart {
    position: relative;
}
.header-cart span {
    position: absolute;
    bottom: -8px;
    left: -8px;
    border-radius: 100%;
    background-color: #000;
    color: #fff;
    font-size: 8px;
    display: inline-block;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* HERO */
.hero {
    position: relative;
    margin-bottom: 87.5px;
}
.video-backdrop {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 10px;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
}
.hero .container {
    z-index: 2;
}
.hero .hero-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.hero .hero-text h4 {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.hero .hero-text h1 {
    font-weight: 600;
    font-size: 60px;
    line-height: 62px;
    text-transform: capitalize;
    max-width: 697px;
    text-align: center;
    margin-bottom: 10px;
}
.hero .hero-text small {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}
.hero .hero-text h4 strong {
    font-weight: 600;
}
/* GRID */
.image-box {
    position: relative;
}
.image-box .text-overlay {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    padding: 0 0 46px 46px;
    color: #fff;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.image-box img {
    width: 100%;
}
.grid3 .image-box .text-overlay p {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    margin-top: 0;
}
.image-box .text-overlay h4 {
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    margin: 2px 0;
}
.image-box .btn-group {
    margin-top: 25px;
}
/* CAROUSEL */
.carousel-container {
    margin: 166px 0 99px;
}
.carousel-container h1 {
    text-align: center;
    margin-bottom: 95px;
}
.carousel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 27px;
}
.carousel-controls a {
    text-decoration: none;
    opacity: 0.3;
    transition: opacity 0.3s;
}
.carousel-controls a:hover {
    opacity: 1;
}
.carousel-controls a + a {
    margin-left: 12px;
}
.carousel-body .item {
    border: solid 1px #e0e0e0;
    padding: 12px 8px;
    border-radius: 2px;
}
.slick {
    display: flex;
}
.slick .item {
    position: relative;
}
.slick .item + .item {
    margin-left: 12px;
}
.product-options .col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-item .product-details {
    margin-top: 22px;
}
.product-item p a {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000 !important;
    text-decoration: none;
}
.product-item small {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #949494;
}
.product-item .product-price {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-item .product-price span {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}
.product-item {
    position: relative;
}
.product-item .product-fave {
    position: absolute;
    top: 11px;
    right: 11px;
    background: #F0F0F0;
    border-radius: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px;
}
.product-fave.on {
    background-color: #E2574C;
}
.product-fave.on svg path {
    stroke: #fff;
}
.gray {
    background-color: #EFEFEF;
    padding: 79px 0;
}
.gray .grid3 {
    margin-top: 103px;
}
.grid3 .item p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    margin-top: 16px;
}
.grid3 .item a {
    text-decoration: none;
}
/* YELLOW STRIP */
.yellow-strip {
    background-color: #EDE734;
    padding: 81.5px 0;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
}
.yellow-strip a {
    margin-left: 41px;
}

/* FOOTER */
footer {
    background-color: #000000;
}
footer.bottom {
    background-color: #131313;
    padding: 24px 0;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom ul {
    display: flex;
}
.footer-bottom ul li {
    padding: 0 14px;
}
.footer-bottom ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}
.footer-bottom ul li + li {
    border-left: solid 1px #fff;
}
.footer-bottom .copyright {
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 150%;
}
.footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 59px 0 107px;
}
.footer-top h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    color: #FFFFFF;
}
.footer-col ul li {
    padding-bottom: 8px;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}
.footer-col ul li a {
    color: #fff;
    text-decoration: none;
}

/* PRODUCT GRID */
.product-grid {
    display: grid;
    grid-gap: 40px 12px;
    grid-template-columns: repeat( auto-fit, minmax(280px, 1fr) );
    margin-top: 132px;
    margin-bottom: 196px;
}
.product-item {
    border: solid 1px #e0e0e0;
    padding: 12px 8px;
    border-radius: 2px;
}

/* BREADCRUMBS */
.breadcrumbs {
    margin-top: 50px;
    margin-bottom: 63px;
}
.breadcrumbs ul li {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}
.breadcrumbs ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.breadcrumbs ul li,
.breadcrumbs ul li a {
    color: #000;
    text-decoration: none;
}
.breadcrumbs ul li a:after {
    content: "/";
    display: inline-block;
    margin-right: 17px;
}

/* TEXT BLOCK */
.text-block h1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    text-transform: capitalize; 
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 32px;
}
.text-block h1 small {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #B8B8B8;
    display: inline-block;
    margin-left: 25px;
}
.text-block p {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

.tags {
    margin-top: 30px;
    display: flex;
}
.tags span {
    background: #EEEEEE;
    border-radius: 6px;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    padding: 0 22px;
}
.tags span svg {
    margin-left: 7.5px;
    cursor: pointer;
}
.tags span + span {
    margin-left: 9px;
}
.product-controls {
    margin-top: 30px;
}
.product-controls .btn-clear {
    margin-left: 20px;
}
.product-related {
    margin-top: 80px;
}
.product-related .product-grid {
    margin-top: 40px;
}

/* PRODUCT VIEW */
.product-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 97px;
}
.product-details h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 14px;
}
.product-details .price {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
}
.ratings-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 18px;
}
.rating {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 14px;
} 
.rating + span {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #3A3A3A;
}
.divider {
    height: 1px;
    background-color: #B8B8B8;
    display: block;
    line-height: 1px;
    font-size: 1px;
    margin: 25px 0;
}
.product-details p {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}
.product-details h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.size-list {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat( auto-fit, minmax(90px, 1fr) );
    margin-bottom: 44px;
}
.size-list input {
    -webkit-appearance: none;
    height: 0;
    width: 0;
    display: none;
}
.size-list label {
    width: 100%;
    max-width: 105px;
    height: 46px;
    background-color: #eee;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #000;
    display: flex;
}
.size-list input:checked + label {
    background-color: #000;
    color: #fff;
}
.quantity-counter a {
    width: 35px;
    height: 35px;
    background-color: #eee;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.quantity-counter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.quantity-counter input {
    margin: 0 15px;
    width: 20px;
    border: none;
    text-align: center;
}
.quantity-counter input:focus {
    outline: none;
}
.quantity-counter a.plus {
    background-color: #000;
}
.product-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0 68px;
}
.product-button a.btn {
    width: 100%;
    margin-right: 24px;
}
.product-fave {
    min-width: 56px;
    min-height: 56px;
    background: #F0F0F0;
    border-radius: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.color-palette {
    margin: 0 -10px;
    display: grid;
    grid-gap: 10px;
    align-items: flex-start;
    justify-content: center;
    grid-template-columns: repeat( auto-fit, minmax(90px, 1fr) );   
}
.color-palette label {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    width: 100%;
}
.color-palette label span {
    display: block;
    margin-top: 5px;
}
.color-palette input {
    display: none;
}
/* ACCORDION */
.accordion {
    border: none;
    border-radius: 0;
    margin-top: 43px;
}
.accordion-item {
    border-radius: 0 !important;
    border: none;
    border-top: 1px solid #B8B8B8;
    padding: 24px 0;
}
.accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accordion-collapse {
    line-height: 0;
    position: relative;
    top: -10px;
    cursor: pointer;
}
.accordion-item .accordion-content {
    display: none;
}
.accordion-item.open .accordion-content {
    display: block;
}
.accordion-item.open .accordion-collapse {
    transform: rotate(180deg);
}
.accordion-content p + p {
    margin-top: 25px;
}
.accordion-content p,
.accordion-content ul {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}

/* GALLERY */
.inline-gallery-container {
    width: 100%;
    height: 0;
    padding-bottom: 65%;
}