#account-menu {padding: 18px 0; border: 1px solid #e2e3df; border-left: 0; border-right: 0; overflow: auto; margin: 0 0 36px; clear: left;}
#account-menu li {float: left; width: 17.546012269939% /* 171.6px/978px */; margin: 0 3.067484662577% /* 30px/978px */ 0 0; text-align: center;}
#account-menu li.last-link {margin: 0 !important;}
#account-menu li a {display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; color: #2e3233; text-decoration: none; background: none; height: 34px; line-height: 34px; font-size: 14px; border: none; text-transform: uppercase; font-weight: normal;}

#account-menu li a:hover {
	background: none;
	color: #3b859e;
}

#accounthistoryBody .account-history a,
#accountBody .account-history a,
#accounteditBody .contact-info a,
#addressbookBody .address-book a,
#accountnewslettersBody .communications a,
#accountpasswordBody .change-password a,
#accounthistoryBody .account-history a:hover,
#accountBody .account-history a:hover,
#accounteditBody .contact-info a:hover,
#addressbookBody .address-book a:hover,
#accountnewslettersBody .communications a:hover,
#accountpasswordBody .change-password a:hover {
	color: #3b859e;
	font-weight: bold;
}

/* Errors */


.account-info-wrapper {width: auto; min-width: 390px; color: #2e3233; background: #f2f2f2; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding: 25px; border: 1px solid #E9E9E9; overflow: hidden;}
.account-info-wrapper label, .account-info-wrapper input[type="text"], .account-info-wrapper input[type="password"], .account-info-wrapper select {width: 93%; display: inline-block; border: 0; max-width: 246px;}

.account-info-wrapper input[type="text"] + .alert,
.account-info-wrapper input[type="password"] + .alert,
.account-info-wrapper select + .alert,
.account-info-wrapper .radioButtonLabel + .alert {
	color: #E02828;
	font-size: 14px;
	padding-top: 0;
	display: inline-block;
	position: relative;
	top: 4px;
}

.account-info-wrapper .error + .alert {
	display: none;
}

.account-info-wrapper label {display: block;}


.account-info-wrapper label .alert {
	color: #E02828;
}

.account-info-wrapper input.hiddenField, .account-info-wrapper label.hiddenField, .alert.hiddenField {display: none;}
.account-info-wrapper label.error {width: auto; margin: 0 0 30px; color: #E02828; display: inline-block;}
label.radioButtonLabel, label.checkboxLabel {display: inline !important;}
.account-info-wrapper label {color: #2e3233; font-size: 14px; margin: 0 0 9px;}
.account-info-wrapper input[type="text"], .account-info-wrapper input[type="password"], .account-info-wrapper select {height: 33px; box-sizing: border-box; -moz-box-sizing: border-box; padding: 0 6px; margin: 0 12px 20px 0; border: 1px solid #aab5b9;}
 .account-info-wrapper select#stateZone {margin: 0 4px 0 0;}
.account-info-wrapper select { padding: 6px;}
.account-info-wrapper input[type="submit"], .account-full-width input[type="submit"]{
	background: #3b859e; color: #FFF; border: 0; text-transform: uppercase; border: 1px solid #3b859e; width: auto !important; padding: 8px 15px 8px 13px; margin: 0; font-size: 14px; font-weight: bold;}

@-moz-document url-prefix() {
	.account-info-wrapper input[type="submit"],
	.account-full-width input[type="submit"] {
		padding: 7px 11px 7px 10px;
	}
}

.account-info-wrapper input[type="submit"]:hover,
.account-info-wrapper input[type="submit"]:focus,
.account-full-width input[type="submit"]:hover,
.account-full-width input[type="submit"]:focus {
	background: #174d5f;
	color: #fff;
	cursor: pointer;
}
.required {font-size: 14px; line-height: 28px; color: #E02828; margin-top: 4px;}

.account-full-width {width: 100%; background: #f2f2f2; color: #2e3233; text-align: center; border: 1px solid #E9E9E9;}
.account-full-width .col2 {width: 50%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding: 30px 30px 0; text-align: left; float: none;}

.account-full-width .col2 + .col2 {
	padding-top: 25px
}

.account-full-width .col2 h3 {font-weight: 700; text-transform: uppercase; margin: 0 0 21px;}
.col2 div {
	overflow: hidden;
	font-size: 0.875em /* 14px/16px */; margin: 0 0 15px;}

.col2 div input {
	float: left;
	margin: 0 9px 0 1px; 
}

.col2 div input + span {
    display: block;
	overflow: hidden;
	line-height: 20px;
	position: relative;
	top: -2px;
}

.col2 div:last-child {margin: 0 !important;}
.submit-button {
	padding: 30px 0 30px;text-align: left;
	margin-left: 30px;
}

#mobile-account-menu{display: none;}
#account-menu {display: block;}

@media only screen and (max-width: 875px) {
	h1 {
		float: none !important;
	}

	.required {
		float: none !important;
		margin-bottom: 30px;
		position: relative;
		top: -4px
	}

	.account-full-width .col2 {width: 100% !important; float: none !important;}
	#account-menu {display: none;}
	.account-full-width, .account-info-wrapper {margin: 30px 0 0;}
	#mobile-account-menu {display: block; font-size: 17px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; text-transform: uppercase; background: #174d5f; color: #FFF; height: 42px; line-height: 42px; margin: 0; padding: 0 15px;}
	#mobile-account-menu:hover {cursor: pointer;}
	.account-menu-icon {font-family: 'menu-icon';}
	#account-menu {border: none; margin: 0; padding: 0; overflow: visible;}
	#account-menu li {margin: 0; width: 100%; font-size: 16px; border-bottom: 1px solid #2B505E;}
	#account-menu li a {display: block; padding: 10px 15px; height: auto; line-height: normal; text-transform: uppercase; border: none;}
	#account-menu li a:hover {background: #3b859e; color: #FFF;}
	#account-menu li:first-child {border-top: 1px solid #0E2831;}
	#account-menu li:last-child {border-bottom: 0;}


}

@media only screen and (max-width: 480px) {
	h1 {font-size: 18px !important;}
	.account-info-wrapper {width: 100% !important; min-width: 0 !important;}
	.account-info-wrapper label, .account-info-wrapper input[type="text"], .account-info-wrapper input[type="password"], .account-info-wrapper select {width: 90% !important;}
	.account-info-wrapper .forward, .account-info-wrapper .back {float: none !important;}
	.account-info-wrapper input[type="submit"], .account-full-width input[type="submit"] {width: 100% !important; height: auto; margin: 15px 0 0;}
	.account-full-width {padding: 0 21px 21px !important; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
	.account-full-width input[type="submit"] {margin: 15px 0 0;}
	.account-full-width .col2 {padding: 21px 0 !important;}
	.submit-button {padding: 0 !important;}
	#mobile-account-menu {font-size: 15px; height: 36px; line-height: 36px;}
	.account-menu-icon {font-size: 18px;}
	#account-menu li {font-size: 14px;}
	 .account-info-wrapper select#stateZone {margin: 0 4px 15px 0;}
}	
