ul.ui-autocomplete {border-left: 1px solid; border-right: 1px solid; border-bottom: 1px solid; z-index: 3000 !important; margin: 0 !important; padding: 0 !important; box-shadow: 0 2px 10px 4px #222222;}
ul.ui-autocomplete li {text-align: left; list-style-type: none; padding: 2px 4px; margin: 0 !important; line-height: 150%; letter-spacing: 1px;}
ul.ui-autocomplete li:hover { cursor: pointer;}
ul.ui-autocomplete li a {color: #333; display: block;}
ul.ui-autocomplete li a strong {color: #2e3233;}
ul.ui-autocomplete li a:hover, ul.ui-autocomplete li a.ui-state-hover {color: inherit !important; background-color: #CCC;}
.ui-autocomplete {background-color: #fff; color: #2e3233;}