body {
	font-size: 14px;
}

section {
	margin: 42px auto 90px;
	max-width: 820px;
	padding: 0 20px;
}

section:after {
	content: "";
	display: block;
	clear: both;
}

section h2 {
	font-size: 30px;
	padding: 0 0 10px;
	margin-bottom: 36px;
	border-bottom: 1px solid #ccc;
}

p {
	font-size: 15px;
	margin-bottom: 30px;
}

.table-contents {
	margin-bottom: 60px;
}

.table-contents ul, .table-contents li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.table-contents ul ul li {
	margin-bottom: 15px;
}

.table-contents .col {
	width: 50%;
	float: left;
}

.contentWrapper {
	max-width: 820px;
}

#headerContainer {
	padding: 21px 0 20px;
	color: #808080;
}

#headerTitle {
	margin-bottom: 0;
}

#footerContainer {
	margin-top: 90px;
	color: #808080;
	display: block;
}

@media screen and (max-width: 480px) {
	.table-contents .col {
		width: 48%;
	}

	.table-contents .col-one {
		margin-right: 4%;
	}
}